[mysqld]
binlog_format=ROW
user=mysql
wait_timeout=300
query_cache_type=OFF
query_cache_size=0

#Logging
general_log=0
slow_query_log=1
general_log_file=/var/log/mysql/mysql.log
log_error=/var/log/mysql/safe.log
slow_query_log_file=/var/log/mysql/slow.log

#Cluster
wsrep_on=OFF
wsrep_slave_threads=4
wsrep_provider=/usr/lib64/galera/libgalera_smm.so
wsrep_cluster_address="gcomm://157.230.18.100,157.230.122.20,157.230.122.21"
binlog_format=row
default_storage_engine=InnoDB
innodb_autoinc_lock_mode=2
wsrep_cluster_name="onet"
bind-address=0.0.0.0
wsrep_node_address="157.230.122.21"
wsrep_node_name="node3"
server_id=3
wsrep_sst_method=rsync
sql_mode=""

# InnoDB
default_storage_engine=innodb
innodb_locks_unsafe_for_binlog=0
innodb_flush_log_at_trx_commit=2
innodb_io_capacity=1000
innodb_io_capacity_max=2000
innodb_buffer_pool_instances=2
sync_binlog=0
thread_handling=pool-of-threads
thread_cache_size=-1
performance_schema=1
max_connections=3000
max_allowed_packet=64M

#Safe Log
[mysqld_safe]
log-error=/var/log/mysql/safe.log


